
 @font-face {
    font-family: jakartaSans;
    src: url("JakartaSans/ttf/PlusJakartaSans-Regular.ttf")
}


body {
    font-family: jakartaSans;
    padding-left:60px;
    padding-right:60px;
}

#header h1 {
    font-size:64px;
    text-align:center;
}

#header {
    background:silver;
    border-radius: 12px;
    padding:10px;
    margin:10px;
}

#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
    transform: scaleX(-1);
}