
 @font-face {
    font-family: jakartaSans;
    src: url("JakartaSans/ttf/PlusJakartaSans-Regular.ttf")
}


body {
    font-family: jakartaSans
}

#header h1 {
    font-size:64px;
    text-align:center;
}

#header {
    background:silver;
    border-radius: 12px;
    padding:10px;
}