/* MAIN */

@font-face {
    font-family: jakartaSans;
    src: url("JakartaSans/ttf/PlusJakartaSans-Regular.ttf")
}


body {
    font-family: jakartaSans;
   /* padding-left:60px;
    padding-right:60px; */
    margin: 0;
    overflow:auto;
   height:100%; 
}
html {
    overflow: hidden;
    height: 100%;
    background:black;
}
#postIntro {
    background:#c2f2d2;
    min-height:100vh;
    padding-top:25px;
    box-sizing: border-box;


}

#welcome {
    text-align:center;
}


/* USED BY MULTIPLE COMPONENTS */

.roundButton {
    border-radius:30px;
    padding:10px;
    font-size:25px;
    transition: box-shadow 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

    border:2px solid black;

}
.roundButton:hover {
    cursor: pointer;
    box-shadow: 0px 1px 3px black;
}
.roundButton:active {
    margin-top:2px;
    margin-bottom:-2px;
    
}



/* react_intro.js */

#intro {
    height: 100vh;
    background-image:url("musik.png");
    background-size:cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.62);
    color:white;
    padding:100px;
    overflow:scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    box-sizing: border-box;
}

#intro::-webkit-scrollbar {
  display: none;
}

#intro .introTextDiv {
    width:63%;
}


/* react_step1.js */

#step1 {
    text-align:center;
    padding:30px;
}



/* react_step2.js */

#step2 {
    text-align:center;
    margin-left:100px;
    margin-right:100px;
}


#camImg {

   margin-left:10px;
   vertical-align:middle;
   width:30px;
}



#videoPlusSnapButton {
    display:inline-block;
}


#videoElement {
	width:100%;
    height:100%;
	background-color: #666;
    transform: scaleX(-1);
}

#canvas {
    
    width:500px;
    height:375px;

}

#videoContainer {
    width: 500px;
	height: 375px;
}

#snappicButton {
    background:silver;
    border:1px solid black;
    width:500px;
    text-align:center;

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-size: 15px !important;
    padding:0 !important;
}


#canvasPlusHappiness {
    vertical-align:top;
    display:inline-block;

}
#howyourelooking {
    height:50px;
    font-size:25px;
}

#howyourelooking p {
    margin:0
}


.songrec {
    display:inline-block;
    width:175px;
    background:silver;
    border:2px solid black;
    max-height:200px;
    min-height:200px;
    margin:10px;

    margin-right: 10px; /* Adjust margin between tiles as needed */

}


#marquee {
    position: absolute;

    white-space: nowrap;
    animation: scrollTiles 40s linear infinite;

}

#marqueecontainer {
    position:relative;
    height:250px;
    overflow:hidden;

}
@keyframes scrollTiles {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-50%, 0); }
  }



.songrecimg {
    width:100%;
}

.songrectitle {
    margin:0;
}

#myImg {
    display:none;
}


#connectspotButton {
    background:#26ed6c;
    
}
#connectspotButton:hover {
    background:#21db62;
}
#connectspotButton:active {
    background:#1bb551;
}

#logout {
    /* display:block; */
    margin-top:30px;
}

#logoutDiv {
    position: fixed;
  height: 100px;
  bottom: 0px;
  margin-right:25px;
  right:0;
}